[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.1"
django-cors-headers = "==3.10.1"
django-phonenumber-field = "==5.2.0"
django-resized = "==0.3.11"
djangorestframework = "==3.12.4"
djangorestframework-simplejwt = "==4.8.0"
pyjwt = "==2.1.0"
psycopg2-binary = "==2.9.3"
redis = "==3.5.3"
sqlparse = "==0.2.4"
xmltodict = "==0.12.0"
django-cleanup = "==5.2.0"
phonenumbers = "==8.12.41"
pillow = "==9.0.0"
django-filter = "==21.1"
django-utils-six = "==2.0"
pep8 = "==1.7.1"
autopep8 = "==1.6.0"
faker = "==11.3.0"
djongo = "*"
pymongo = "==3.12.1"

[dev-packages]

[requires]
python_version = "3.9"
